.TodoGroup-GroupHeader {
    display: flex;
    flex-direction: row;
}

.TodoGroup {
    width: 300px;
    margin: 10px;
}

.TodoGroup-GroupName {
    width: 100%;
}
.TodoGroup-GroupMenu {
    cursor: pointer;
}